<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="#">Whiteboard</a>

    <div class="container-fluid">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a routerLink="/admin" class="nav-item nav-link active" *ngIf="isAdmin">Admin</a>
            </li>
            <li class="nav-item active">
                <a routerLink="/home" class="nav-item nav-link active">Home</a>
            </li>
            <li class="nav-item active">
                <a routerLink="/login" class="nav-item nav-link active" *ngIf="!isLoggedIn">Login</a>
            </li>
            <li class="nav-item active">
                <a routerLink="/register" class="nav-item nav-link active" *ngIf="!isLoggedIn">Register</a>
            </li>
            <li class="nav-item active">
                <a routerLink="/profile" *ngIf="isLoggedIn" class="nav-item nav-link active">Profile</a>
            </li>

        </ul>
        <button (click)="logout()" *ngIf="isLoggedIn" class="btn btn-outline-light my-2 my-sm-0">Logout</button>
    </div>
</nav>