<app-navigation-bar [isLoggedIn]="isLoggedIn"></app-navigation-bar>

<div class="container-fluid">
    <h2>Sections</h2>


    <table class="table">
        <thead>
        <tr>
            <table class="table-bordered table-striped table">
                <thead>
                <tr class="table-active">
                    <td>Section Name</td>
                    <td>Available Seats</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let section of sections">
                    <td>{{section.name}}</td>
                    <td>{{section.seats}}</td>
                    <td>
                        <button *ngIf="isLoggedIn && section.seats > 0" class="btn btn-primary"
                                (click)="enroll(section)">Enroll
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </tr>
        </thead>
    </table>
</div>
